* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: #f3f3f3;
    line-height: 1.5;
}

:root {
    --gray: #f3f3f3;
    --category-sports: #f99500;
}

img {
    width: 100%;
}

ul {
    list-style: none;
}

h3 {
    margin-bottom: 1rem;
}
.container {
    max-width: 1100px;
    margin: 0 auto;
    padding: 10px 20px;
}

.dark-bg {
    background-color: #333333;
    color: white;
}
.dark-bg h3 a {
    color: white;
}

.category {
    display: inline-block;
    color: #fff;
    font-size: 0.55rem;
    text-transform: uppercase;
    padding: 0.2rem 0.4rem;
    border-radius: 1rem;
    margin-bottom: 0.5rem;
    font-weight: bold;
    letter-spacing: 0.1rem;
}

p {
    margin-bottom: 10px;
}

.btn {
    display: inline-block;
    border: none;
    background: #bd2b2a;
    color: #fff;
    padding: 7px 20px;
    margin-top: 5px;
}

.btn-dark {
    background-color: #333333;
}

.btn-primary {
    background: #0b59dd;
}
/* Nav Styles*/

nav {
    background-color: white;
}
.nav-container {
    display: grid;
    grid-template-columns: 1fr 0.5fr;
    height: 70px;
}

.nav-items {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    align-self: center;
    width: 150px;
}

.nav-items > .nav-links ul {
    list-style: none;
    display: flex;
}

a {
    text-decoration: none;
    color: #2c2c2c;
}

.nav-social a:visited,
.nav-social a:active {
    text-decoration: none;
    color: #2c2c2c;
}

.nav-items .nav-social {
    color: #2c2c2c;
    padding-left: 10px;
}

.nav-social .facebook:hover {
    color: #1196f5;
}

.nav-social .twitter:hover {
    color: #1da1f2;
}

.nav-social .instagram:hover {
    color: #e54a5c;
}

.nav-social .youtube:hover {
    color: #ff0000;
}

.nav-links > ul > li > a {
    text-decoration: none;
    color: #333333;
    font-weight: bold;
    padding: 13px;
}

.nav-links > ul > li > a:visited,
.nav-links > ul > li > a:active {
    text-decoration: none;
}

.nav-links > ul > li > a:hover {
    background-color: #f3f3f3;
    font-weight: bold;
}

.nav-links > ul > li > a.active {
    background-color: #ff0000;
    color: #ffffff;
    font-weight: bold;
}

.nav-links > ul > li > a {
    cursor: pointer;
}

/* End Nav Styles */
/* Start Header Styles */
header {
    background: #333333;
    color: white;
    position: relative;
}

.showcase-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    height: 50vh;
}

.showcase-content {
    z-index: 1;
}

header::before {
    content: "";
    background: url("../images/featured.jpg") no-repeat center center/cover;
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0.4;
}

.category-sports {
    background: var(--category-sports);
}

/* End Header Style */

/* Start Articles Section */

.category-enter {
    background: #1da1f2;
}

.category-tech {
    background: #0da614;
}

.articles-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
}

.main-content .articles-container > *:first-child,
.main-content .articles-container > *:last-child {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 1rem;
    align-items: center;
    grid-column: 1 / span 2;
}

.main-content .articles-container > *:last-child {
    grid-column: 2 / span 2;
}

article {
    background-color: #ffffff;
    padding: 1rem;
}

.Red {
    background-color: #c72727;
    color: white;
}

.Red h3 a {
    color: white;
}

.main-content > .articles-container > article:hover {
    transform: scale(1.05);
}

/* End Articles */

/* Footer */

footer {
    background-color: #333333;
    color: white;
    padding: 2rem 0;
}

.footer-content {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1rem;
    padding: rem;
}

.copyright {
    display: grid;
    grid-template-columns: 1fr;
    text-align: center;
    align-items: center;
    grid-column: 1 / 5;
    background-color: #444444;
}

.footer-content > div > img {
    width: 150px;
    padding-bottom: 1rem;
}

.footer-content > div > h3,
.footer-content > div > p {
    margin-bottom: 0.5rem;
}

.footer-content > div > form > input[type="email"] {
    width: 90%;
    height: 2rem;
    margin-bottom: 0.5rem;
}

.footer-content > div > form > input[type="submit"] {
    width: 90%;
    height: 2rem;
}

.footer-content > div > span {
    display: block;
    margin: 1rem;
}
.footer-content > div > span::before {
    content: "";
    border-bottom: 1px dotted #eee;
    width: 11rem;
    position: absolute;
    margin-top: 1.7rem;
}

.btn-joinus {
    background-color: #f99500;
}

/* About Page */

.about-grid {
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 2rem;
}

.about-grid > *:first-child {
    grid-row: 1 / span 3;
}

.sidebar_newsletter {
    background-color: #c72727;
    color: white;
    padding: 1rem;
}

.btn_about {
    width: 90%;
    text-align: center;
}
