* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    line-height: 1.5;
}

:root {
    --gray: #f3f3f3;
    --category-sports: #f99500;
}

.container {
    max-width: 1100px;
    margin: 0 auto;
    padding: 10px 20px;
}

.category {
    display: inline-block;
    color: #fff;
    font-size: 0.55rem;
    text-transform: uppercase;
    padding: 0.2rem 0.4rem;
    border-radius: 1rem;
    margin-bottom: 0.5rem;
    font-weight: bold;
    letter-spacing: 0.1rem;
}

p {
    margin-bottom: 10px;
}

.btn {
    display: inline-block;
    border: none;
    background: #bd2b2a;
    color: #fff;
    padding: 7px 20px;
    margin-top: 5px;
}

.btn-primary {
    background: #0b59dd;
}
/* Nav Styles*/

.nav-container {
    display: grid;
    grid-template-columns: 1fr 0.5fr;
    height: 70px;
}

.nav-items {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    align-self: center;
    width: 150px;
}

.nav-items > .nav-links ul {
    list-style: none;
    display: flex;
}

a {
    text-decoration: none;
    color: #2c2c2c;
}

.nav-social a:visited,
.nav-social a:active {
    text-decoration: none;
    color: #2c2c2c;
}

.nav-items .nav-social {
    color: #2c2c2c;
    padding-left: 10px;
}

.nav-social .facebook:hover {
    color: #1196f5;
}

.nav-social .twitter:hover {
    color: #1da1f2;
}

.nav-social .instagram:hover {
    color: #e54a5c;
}

.nav-social .youtube:hover {
    color: #ff0000;
}

.nav-links > ul > li > a {
    text-decoration: none;
    color: #333333;
    font-weight: bold;
    padding: 13px;
}

.nav-links > ul > li > a:visited,
.nav-links > ul > li > a:active {
    text-decoration: none;
}

.nav-links > ul > li > a:hover {
    background-color: #f3f3f3;
    font-weight: bold;
}

.nav-links > ul > li > a.active {
    background-color: #ff0000;
    color: #ffffff;
    font-weight: bold;
}

.nav-links > ul > li > a {
    cursor: pointer;
}

/* End Nav Styles */
header {
    background: #333333;
    color: white;
    position: relative;
}

.showcase-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    height: 50vh;
}

.showcase-content {
    z-index: 1;
}

header::before {
    content: "";
    background: url("../images/featured.jpg") no-repeat center center/cover;
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0.4;
}

.category-sports {
    background: var(--category-sports);
}
